* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #323232;
  text-decoration: none;
}

body {
  background-color: #eeefef;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 12%;
  transition: all 1.5s ease;
  z-index: 99999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 75%;
  margin: auto;
  margin-top: 10%;
  transition: all 1.5s ease;
}

nav .logo {
  position: absolute;
  width: 65%;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transition: all 1.5s ease;
  transform: translateY(18%);
  animation: fadein 1.5s;
}

@media screen and (min-width: 820px) {
  nav ul {
    margin-top: 3%;
  }

  nav .logo {
    max-width: 230px;
    right: auto;
    left: 15%;
    top: 120%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
      brightness(102%) contrast(105%);
  }
}

nav .instagram-icon {
  width: 35px;
  transition: all 1.5s ease;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
}

@media screen and (min-width: 820px) {
  nav .instagram-icon {
    display: none;
  }
}

nav .hamburger-icon {
  width: 35px;
  transition: all 1.5s ease;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
}

@media screen and (min-width: 820px) {
  nav .hamburger-icon {
    margin-top: -20px;
    filter: none;
  }
}

.nav-scrolled {
  background-color: rgba(70, 81, 87, 0.85);
  transition: all 1.5s ease;
}

.nav-scrolled .logo {
  width: 10%;
  position: absolute;
  top: 0;
  transition: all 1.5s ease;
  transform: translateY(10px);
}

@media screen and (min-width: 820px) {
  .nav-scrolled {
    max-height: 8%;
  }

  .nav-scrolled .logo {
    top: 10%;
    height: 80%;
    transition: all 1.5s ease;
    transform: translateY(0px);
    filter: none;
  }

  .nav-scrolled .hamburger-icon {
    margin-top: 0px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
  }
}

.nav-scrolled ul {
  margin-top: 6%;
  transition: all 1.5s ease;
}

@media screen and (min-width: 820px) {
  .nav-scrolled ul {
    margin-top: 2%;
  }
}

.about-us {
  margin: auto;
  margin-top: 30%;
  width: 80%;
  padding-bottom: 60px;
}

@media screen and (min-width: 820px){
  .about-us{
    margin-top: 8%;
  }
}

.about-us h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.about-us p {
  margin-top: 20px;
}

.contact-us {
  background-color: #fff;
  padding: 60px 0px;
  text-align: left;
}

.contact-us h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
}

.contact-us .wrapper {
  display: flex;
  margin-bottom: 40px;
  margin-left: 15%;
}

.contact-us img {
  width: 38px;
  margin-right: 30px;
}

.contact-us p {
  font-size: 12px;
  margin-top: 4px;
}

.footer {
  background-color: #4a4a4a;
  padding: 30px 0 30px 20px;
  font-size: 14px;
}

.footer p,
.footer a {
  color: white;
}

.footer p {
  margin-top: 15px;
}
