* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #323232;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 820px) {
  body {
    background-color: #eeefef;
  }
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 12%;
  transition: all 1.5s ease;
  z-index: 99999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 75%;
  margin: auto;
  margin-top: 10%;
  transition: all 1.5s ease;
}

nav .logo {
  position: absolute;
  width: 65%;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transition: all 1.5s ease;
  transform: translateY(18%);
  animation: fadein 1.5s;
}

@media screen and (min-width: 820px) {
  nav ul {
    margin-top: 3%;
  }

  nav .logo {
    max-width: 230px;
    right: auto;
    left: 15%;
    top: 120%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
      brightness(102%) contrast(105%);
  }
}

nav .instagram-icon {
  width: 35px;
  transition: all 1.5s ease;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
}

@media screen and (min-width: 820px) {
  nav .instagram-icon {
    display: none;
  }
}

nav .hamburger-icon {
  width: 35px;
  transition: all 1.5s ease;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
}

@media screen and (min-width: 820px) {
  nav .hamburger-icon {
    margin-top: -20px;
    filter: none;
  }
}

.hero-image {
  height: 101vh;
  width: 100vw;
  background-image: url(../img/hero-background.png);
  background-size: cover;
  transition: all 2s ease;
}

@media screen and (min-width: 820px) {
  .hero-wrapper {
    height: 101vh;
    overflow-x: hidden;
  }

  .hero-image {
    background-image: url(../img/hero-background-desktop.png);
    position: relative;
    top: 10vh;
    width: 55vw;
    height: 70vh;
    display: block;
    margin-left: 40%;
  }

  .hero-image::after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 86px;
    left: 80px;
    right: -50px;
    bottom: -53px;
    border: 5px solid #fff;
  }

  .hero-image::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 208px;
    left: 363px;
    right: -97px;
    bottom: -91px;
    border: 5px solid #fff;
  }
}

@media screen and (min-width: 1400px) {
  .hero-image {
    width: 45vw;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-blur {
  /* filter: blur(1px); */
  transition: all 2s ease;
}

.sharebar {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -15%;
  display: flex;
  max-width: 70vw;
  justify-content: space-between;
}

.sharebar ul {
  list-style: none;
}

.sharebar ul li a {
  color: #fff;
}

@media screen and (min-width: 820px) {
  .sharebar {
    left: 13%;
    margin: 0;
    margin-top: 10%;
    justify-content: unset;
  }

  .sharebar ul li a {
    color: #000;
    margin-right: 30px;
  }
}

.nav-scrolled {
  background-color: rgba(70, 81, 87, 0.85);
  transition: all 1.5s ease;
}

.nav-scrolled .logo {
  width: 10%;
  position: absolute;
  top: 0;
  transition: all 1.5s ease;
  transform: translateY(10px);
}

@media screen and (min-width: 820px) {
  .nav-scrolled {
    max-height: 8%;
  }

  .nav-scrolled .logo {
    top: 10%;
    height: 80%;
    transition: all 1.5s ease;
    transform: translateY(0px);
    filter: none;
  }

  .nav-scrolled .hamburger-icon {
    margin-top: 0px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
  }
}

.nav-scrolled ul {
  margin-top: 6%;
  transition: all 1.5s ease;
}

@media screen and (min-width: 820px) {
  .nav-scrolled ul {
    margin-top: 2%;
  }
}

.products {
  background-color: #eeefef;
  text-align: center;
  padding-bottom: 130px;
}

@media screen and (min-width: 820px){
  .products{
    max-width: 83%;
    margin: auto;
    margin-top: 150px;
    position: relative;
    padding-bottom: 230px;
  }

  /* .products::after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 200px;
    left: 200px;
    right: 200px;
    bottom: 200px;
    border: 5px solid #fff;
  } */
}

.products h2 {
  padding-top: 4.75rem;
  padding-bottom: 2.8125rem;
  font-size: 2.25rem;
}

@media screen and (min-width: 820px){
  .products h2{
    text-align: left;
    margin-left: 5%;
    max-width: 200px;
  }
  .products h2::after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: -92px;
    right: -40px;
    bottom: -169px;
    border: 5px solid #fff;
  }

  .products h2::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 37px;
    left: -46px;
    right: -280px;
    bottom: -350px;
    border: 5px solid #fff;
  }
}

.products .swiper {
  margin: auto;
  padding-bottom: 2.6875rem;
}

.products img {
  width: 70%;
  margin-bottom: 10px;
}

.products h3 {
  font-size: 28px;
}

.swiper-pagination {
  bottom: 20px !important;
}

@media screen and (min-width: 820px){
  .swiper-pagination{
    bottom: 0 !important;
  }
}

.swiper-pagination-bullet {
  margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
  background: #849d9d !important;
}

.all-menu {
  position: relative;
  top: 30px;
  padding: 15px 35px;
  background-color: white;
  text-decoration: none;
}

@media screen and (min-width: 820px){
  .all-menu{
    top: 90px;
  }
}

.location {
  padding: 80px 0px;
  text-align: center;
  margin: auto;
  width: 75%;
  position: relative;
}

@media screen and (min-width: 820px){
  .location-wrapper{
    background-color: #fff;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .location{
    text-align: left;
    width: 75%;
  }

  .location::after {
    content: " ";
    position: absolute;
    z-index: 0;
    top: -131px;
    left: -106px;
    right: -121px;
    bottom: -50px;
    border: 5px solid #797979;
  }

  .location::before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: -160px;
    left: 800px;
    right: -148px;
    bottom: 425px;
    border: 5px solid #797979;
  }
}

.location h2 {
  font-size: 36px;
  margin-bottom: 65px;
}

.location p {
  font-size: 14px;
}

.location .location-img {
  margin-top: 50px;
  width: 100%;
}

@media screen and (min-width: 820px){
  .location .location-img {
    max-width: 50%;
    order: 2;
    margin-top: -200px;
  }
}

.location .icon {
  width: 28px;
}

.pin-location,
.operating-time {
  display: flex;
  text-align: left;
  margin-top: 45px;
}

.pin-location-text,
.operating-time-text {
  margin-left: 12px;
}

.location-details {
  position: relative;
  padding-bottom: 60px;
}

.location-details:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -32px;
  right: -17px;
  bottom: 0px;
  border: 2px solid #797979;
}

.location-details:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -24px;
  right: -27px;
  bottom: 12px;
  border: 2px solid #797979;
}


@media screen and (min-width: 820px){
  .location-details{
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}

.google-maps {
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 70px;
  padding: 15px 25px;
  max-width: 165px;
  background-color: #4a4a4a;
  color: #fff;
  font-size: 14px;
}

@media screen and (min-width: 820px){
  .google-maps{
    text-align: center;
  }
}

.contact-us {
  background-color: #eeefef;
  padding: 120px 0px;
}

.contact-us h2 {
  text-align: center;
  margin-bottom: 95px;
  font-size: 36px;
}

.contact-us .wrapper {
  display: flex;
  margin-bottom: 80px;
  margin-left: 15%;
}

.contact-us img {
  width: 38px;
  margin-right: 30px;
}

.contact-us p {
  font-size: 12px;
  margin-top: 4px;
}

.about-us {
  text-align: center;
  padding: 90px 0px;
  position: relative;
  width: 75%;
  margin: auto;
}

.about-us h2 {
  font-size: 36px;
}

.about-us-wrapper {
  position: relative;
  padding: 70px 0px 90px;
}

.about-us-wrapper:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -32px;
  right: -17px;
  bottom: 0px;
  border: 2px solid #797979;
}

.about-us-wrapper:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -24px;
  right: -27px;
  bottom: 12px;
  border: 2px solid #797979;
}

.about-us h2 {
  margin-bottom: 70px;
}

.about-us img {
  display: block;
  margin: auto;
  margin-bottom: 72px;
  width: 100%;
}

.about-us a {
  padding: 15px 25px;
  color: #fff;
  background-color: #202020;
}

.footer {
  background-color: #4a4a4a;
  padding: 30px 0 30px 20px;
  font-size: 14px;
}

.footer p,
.footer a {
  color: white;
}

.footer p {
  margin-top: 15px;
}

.from-left {
  transform: translateX(-80%);
}

.from-right {
  transform: translateX(80%);
}

.from-left,
.from-right {
  transition: opacity 300ms ease-in, transform 700ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.from-bottom {
  transform: translateY(50%);
  transition: opacity 300ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-bottom.appear {
  transform: translateY(0);
  opacity: 1;
}
