* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #323232;
  text-decoration: none;
}

body {
  background-color: #eeefef;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 12%;
  transition: all 1.5s ease;
  z-index: 99999;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 75%;
  margin: auto;
  margin-top: 10%;
  transition: all 1.5s ease;
}

nav .logo {
  position: absolute;
  width: 65%;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transition: all 1.5s ease;
  transform: translateY(18%);
  animation: fadein 1.5s;
}

@media screen and (min-width: 820px) {
  nav ul {
    margin-top: 3%;
  }

  nav .logo {
    max-width: 230px;
    right: auto;
    left: 15%;
    top: 120%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
      brightness(102%) contrast(105%);
  }
}

nav .instagram-icon {
  width: 35px;
  transition: all 1.5s ease;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
}

@media screen and (min-width: 820px) {
  nav .instagram-icon {
    display: none;
  }
}

nav .hamburger-icon {
  width: 35px;
  transition: all 1.5s ease;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
    brightness(102%) contrast(105%);
}

@media screen and (min-width: 820px) {
  nav .hamburger-icon {
    margin-top: -20px;
    filter: none;
  }
}

.nav-scrolled {
  background-color: rgba(70, 81, 87, 0.85);
  transition: all 1.5s ease;
}

.nav-scrolled .logo {
  width: 10%;
  position: absolute;
  top: 0;
  transition: all 1.5s ease;
  transform: translateY(10px);
}

@media screen and (min-width: 820px) {
  .nav-scrolled {
    max-height: 8%;
  }

  .nav-scrolled .logo {
    top: 10%;
    height: 80%;
    transition: all 1.5s ease;
    transform: translateY(0px);
    filter: none;
  }

  .nav-scrolled .hamburger-icon {
    margin-top: 0px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg)
      brightness(102%) contrast(105%);
  }
}

.nav-scrolled ul {
  margin-top: 6%;
  transition: all 1.5s ease;
}

@media screen and (min-width: 820px) {
  .nav-scrolled ul {
    margin-top: 2%;
  }
}

nav button {
  background: transparent;
  border: none;
}

@media screen and (min-width: 820px) {
  nav .hamburger-icon {
    margin-top: -20px;
    filter: none;
  }
}

.hamburger-menu {
  flex-direction: column;
  position: fixed;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  margin: 0 !important;
  background-color: grey;
  z-index: -1;
  background-color: rgb(70, 81, 87);
  transition: all 1s ease;
  color: #fff;
  font-size: 32px;
  justify-content: flex-start;
  padding-top: 30%;
  left: 100%;
}

@media screen and (min-width: 820px) {
  .hamburger-menu {
    padding-top: 20%;
  }
}

.hamburger-menu li {
  margin-bottom: 30px;
}

.hamburger-menu.active {
  display: flex !important;
  transition: all 1s ease;
  left: 0;
}

.hamburger-menu a {
  color: #fff;
}

.menu {
  margin-top: 30%;
}

@media screen and (min-width: 820px) {
  .menu {
    margin-top: 10%;
  }
}

h2 {
  text-align: center;
  font-size: 36px;
}

.menu img {
  width: 80%;
  margin: auto;
  display: block;
  margin-top: 40px;
}

h3 {
  text-align: center;
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.menu p {
  display: block;
  margin-top: 30px;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 820px) {
  .menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 80%;
    margin-bottom: 100px;
  }

  .menu li {
    list-style: none;
  }
}

.menu li {
  margin-bottom: 50px;
}

.location {
  padding: 80px 0px;
  text-align: center;
  margin: auto;
  width: 75%;
  position: relative;
}

@media screen and (min-width: 820px) {
  .location-wrapper {
    background-color: #fff;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .location {
    text-align: left;
    width: 75%;
  }

  .location::after {
    content: " ";
    position: absolute;
    z-index: 0;
    top: -131px;
    left: -106px;
    right: -121px;
    bottom: -50px;
    border: 5px solid #797979;
  }

  .location::before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: -160px;
    left: 800px;
    right: -148px;
    bottom: 425px;
    border: 5px solid #797979;
  }
}

.location h2 {
  font-size: 36px;
  margin-bottom: 65px;
}

@media screen and (min-width: 820px) {
  .location h2 {
    text-align: left;
  }
}

.location p {
  font-size: 14px;
}

.location .location-img {
  margin-top: 50px;
  width: 100%;
}

@media screen and (min-width: 820px) {
  .location .location-img {
    max-width: 50%;
    order: 2;
    margin-top: -200px;
  }
}

.location .icon {
  width: 28px;
}

.pin-location,
.operating-time {
  display: flex;
  text-align: left;
  margin-top: 45px;
}

.pin-location-text,
.operating-time-text {
  margin-left: 12px;
}

.location-details {
  position: relative;
  padding-bottom: 60px;
}

.location-details:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -32px;
  right: -17px;
  bottom: 0px;
  border: 2px solid #797979;
}

.location-details:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -24px;
  right: -27px;
  bottom: 12px;
  border: 2px solid #797979;
}

@media screen and (min-width: 820px) {
  .location-details {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
}

.google-maps {
  text-decoration: none;
  display: block;
  margin: auto;
  margin-top: 70px;
  padding: 15px 25px;
  max-width: 165px;
  background-color: #4a4a4a;
  color: #fff;
  font-size: 14px;
}

@media screen and (min-width: 820px) {
  .google-maps {
    text-align: center;
  }
}

.footer {
  background-color: #4a4a4a;
  padding: 30px 0 30px 20px;
  font-size: 14px;
  text-align: left;
}

.footer p,
.footer a {
  color: white;
}

.footer p {
  margin-top: 15px;
}
