/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Playfair Display', serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
}

/* LOGO */
.logo{
    background-color: #000103;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    display: none;
}


/* HERO SECTION */
.hero-container{
    display: flex;
    flex-direction: column;
    background-color: #000103;
    color: white;
}

.heading-container{
    margin: auto;
    margin-top: 28px;
    width: 90%;
    background-color: transparent;
    z-index: 2;
}

.heading-experience{
    color: #D9D9D9;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.heading-first-class{
    font-family: 'Lora', serif;
    color: #000103;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    -webkit-text-stroke: 1px #FAB847;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.heading-company{
    margin-top: -10px;
    color: #D9D9D9;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: transparent;
    margin-top: -15px;
}

.swiper-container{
    width: 90%;
    height: 550px;
    margin-top: -45px;
    z-index: 1;
    order: 2;
}

.swiper-wrapper{
    margin: auto;
    width: 360px;
    height: 550px;
}

.swiper-image{
    width: 360px;
}

.swiper-pagination{
    background: transparent;
    position: absolute;
    top: 340px;
}

.swiper-pagination-bullet {
    opacity: 1;
    background-color: transparent;
    border: #C4C4C4 solid 1px;
    width: 13px;
    height: 13px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #C4C4C4;
}

.subheading-container{
    order: 3;
    z-index: 2;
    margin: auto;
    margin-top: -180px;
    background-color: transparent;
    width: 60%;
    text-align: center;
}

.subheading{
    background-color: transparent;
    margin-bottom: 20px;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    letter-spacing: 1.3px;
}

.heading-footer-container{
    order: 4;
    z-index: 2;
    padding-top: 20px;
    padding-bottom: 38px;
    background-color: #212121;
}

.heading-footer-text-container{
    margin: auto;
    width: 85%;
    margin-bottom: 22px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    color: #C9C9C9;
}

.heading-footer{
    background-color: #212121;
}

.heading-footer-learn-more-container{
    margin: auto;
    border: 1px solid #FAB847;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    font-family: 'Mulish', sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
}


/* SECTION TWO */
.section2-container-bg{
    background-color: #F5F5F5;
    color: black;
    text-align: center;
    padding-top: 25px;  
    padding-bottom: 170px;       
}

.section2-container{
    margin: auto;
}

.section2-title{
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    font-size: 2.25rem;
    margin-bottom: 45px;
}

.section2-title-span{
    font-weight: bolder;
}

.values-container{
    margin: auto;
    width: 70%;
}

.value-image{
    height: 95px;
}

.value-title{
    font-weight: bolder;
    margin-bottom: 12px;
}

.value-body{
    color: #6D6D6D;
    margin-bottom: 50px;
}

.medals-container{
    border-top: 1px solid #878787;
    border-bottom: 1px solid #878787;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    margin-bottom: 50px;
}

.medal-image{
    height: 63px;
}

.medal-title{
    font-weight: 600;
}

.testimonial-container{
    margin: auto;
    width: 80%;
}

.testimonial{
    font-weight: 1.125rem;
}

.testimonial-person{
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 65px;
}

.section2-learn-more-container{
    width: 185px;
    height: 60px;
    background-color: #DDCB78;
    color: white;
    line-height: 58px;
    margin: auto;
    text-transform: uppercase;
}

.section2-learn-more{
    font-weight: bolder;
    font-size: 1.25rem;
}


/******************
        FAQ 
 ********************/
.faq-container-bg{
    background-color: #212121;
}

.faq-container{
    width: 85%;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 70px;
}

.faq-title{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.25rem;
    padding-bottom: 30px;
}

/* Accordion */
.accordion-item{
    color: white;
    background-color: #212121;
}

.accordion-header{
    color: white;
    background-color: #212121;
    border-bottom: 1px solid #6D6D6D;
}

.accordion-button{
    background-color: #212121;
    color: white;
}

.accordion-button:focus {
    color: white;
    background-color: #212121;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #383838;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


/****************** 
    FOOTER
****************/
.footer-bg{
    background-color: black;
}

.footer-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 80%;
    color: #CDCDCD;
}

.footer-title{
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 2px;
}

.name{
    text-transform: uppercase;
    font-size: 1.125;
    margin-bottom: 15px;
}

.portfolio-link{
    color: #CDCDCD;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    
}

.portfolio{
    margin-bottom: 3px;
}

.references-container{
    margin-top: 60px;
}

.reference-link{
    color: #CDCDCD;
}

.reference{
    margin-bottom: 4px;
}





